#title {
    font-size: 50px;
    font-weight: 800;
    color: white;
    background-color: #008000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.food {
    font-size: 22px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}